{{#> center}}
  {{#if eyebrow}}
    <h2 class="heading heading-eyebrow text-{{ternary align align 'center'}}">
      {{{eyebrow}}}
    </h2>
  {{/if}}
  <h1 class="heading text-{{ternary align align 'center'}} size-{{ternary small 'small' 'normal'}}">
    {{{copy}}}
  </h1>
{{/center}}
