{{#> center}}
    <div class="copy size-{{ternary small 'small' 'normal'}} style-{{ternary style style 'normal'}}">
        <p class="text-{{ternary align align 'center'}}">{{{preText}}}<a class="link" href="{{{linkHref}}}">{{{linkLabel}}}</a>{{{postText}}}</p>
    </div>
{{/center}}
