doctype html
html
  head
    style
      include styles.css
  body
    h1 Krafa um gæsluvarðhald
    p(class="subtitle-one") LÖKE málsnúmer #{policeCaseNumber}
    p(class="subtitle-two") Dómstóll: #{court}

    h2 Grunnupplýsingar
    div(class="mb-16")
      p Kennitala: #{accusedNationalId}
      p Fullt nafn: #{accusedName}
      p Lögheimili: #{accusedAddress}

    h3 Tími handtöku
    p(class="mb-16") #{arrestDate} kl. #{arrestTime}.

    h3 Ósk um fyrirtökudag og tíma
    p(class="mb-16") #{requestedCourtDate} kl. #{requestedCourtTime}.

    h3 Dómkröfur
    p(class="mb-16") Gæsluvarðhald til #{requestedCustodyEndDate} kl. #{requestedCustodyEndTime}.

    h3 Lagaákvæði
    div(class="mb-16")
      each par in lawsBroken.split('\n')
        p #{par}

    h3 Takmarkanir á gæslu
    p(class="mb-32") #{custodyRestrictions}

    h2 Greinargerð um málsatvik og lagarök

    h3 Málsatvik rakin
    div(class="mb-16")
      each par in caseFacts.split('\n')
        p #{par}

    h3 Framburðir
    div(class="mb-16")
      each par in witnessAccounts.split('\n')
        p #{par}

    h3 Staða rannsóknar og næstu skref
    div(class="mb-16")
      each par in investigationProgress.split('\n')
        p #{par}

    h3 Lagarök
    div(class="mb-16")
      each par in legalArguments.split('\n')
        p #{par}

    p(class="strong") Fhl. #{prosecutorName}, #{prosecutorTitle}
